<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/login.css" />
  </head>
  <body>
    <div class="main">
      <h1>Login</h1>

      <form action="/login" method="post" class="form">
        <br />
        <h3>Username</h3>
        <br />
        <input type="email" name="username" placeholder="Enter your email" />
        <br />
        <br />
        <h3>Password</h3>
        <br />
        <input
          type="password"
          name="password"
          placeholder="Enter your password"
        />
        <br />
        <br />
        <button class="btn" type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
